/* Framework styles */

body {
    /* set margin to 0 and overflow to hidden, to go fullscreen */
    margin: 0;
    overflow: hidden;
}
.noDisplay {
    display: none;
}
.centre {
    text-align: center;
}
.rightShift {
    text-align: right;
}
.infoPanel {
    position: absolute;
    background-color: lightgrey;
    /*border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;*/
    border-radius: 20px;
    padding: 1%;
}
#dateSelector {
    top:1%;
    right:2%;
    width: 15%;
}
#dateSelector p {
    text-align: center;
}
#addFormContainer {
    top:10%;
    left:35%;
    width: 30%;
    z-index: 1;
}
#expenseInfo {
    top: 1%;
    left: 1%;
    width: 15%;
}
.title {
    margin-bottom: 2%;
}
#addFormTitle {
    font-size: 1.2vw;
}
#errorText {
    margin-left: 42.5%;
    color: red;
}
#expenseTableContainer {
    top:10%;
    left:35%;
    width: 30%;
    z-index: 0;
}
.selected {
    background-color: red;
    color: white;
}
#options button {
    margin-right: 5%;
}
.btn-file input[type=file] {
    position: absolute;
    top: 85%;
    right: 50%;
    width: 57px;
    height: 35px;
    font-size: 2vw;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
