/* Framework styles */

body {
    /* set margin to 0 and overflow to hidden, to go fullscreen */
    margin: 0;
    overflow: hidden;
}
.noDisplay {
    display: none;
}
.centre {
    text-align: center;
}
.rightShift {
    text-align: right;
}
.infoPanel {
    position: absolute;
    background-color: lightgrey;
    border-radius: 10px;
    padding: 1%;
}
#expenseInfo {
    top:1%;
    right:2%;
    width: 15%;
}
#expenseInfo p {
    text-align: center;
}
#addFormContainer {
    top:10%;
    left:35%;
    width: 30%;
    z-index: 1;
}
.title {
    margin-bottom: 2%;
}
#addFormTitle {
    font-size: 1.2vw;
}
#errorText {
    margin-left: 42.5%;
    color: red;
}
#expenseTableContainer {
    top:10%;
    left:35%;
    width: 30%;
    z-index: 0;
}
.selected {
    background-color: red;
    color: white;
}
#options button {
    margin-right: 5%;
}